.admin-table {
	margin-top: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  	font-size: 13px;
  	text-align: left;
  	border-collapse: collapse;
  	background: #1A1A1D;
	border-radius: 4px;
}

.admin-table th {
	color: #EDB749;
  	border-bottom: 1px solid white;
  	padding: 12px 17px;
  	text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
}

.admin-table td {
	color: #CAD4D6;
  	border-bottom: 1px solid white;
	border-right:1px solid white;
	padding: 7px 17px;
}

.admin-table tr:last-child td {
  	border-bottom: none;
}

.admin-table td:last-child {
 	border-right: none;
}

.admin-table tr:hover td {
  	text-decoration:none;
}

.admin-table a {
	color: red;
	text-decoration:none;
}

.Text_AdminPanel {
  	font-family: 'Russo One', sans-serif;
  	font-size: 70px;
  	color: #1A1A1D;
  	text-align: center;
}

.Text_Section {
	background-color: #1A1A1D;
	padding: 1px;
	border-radius: 40px;
}
 
.Text_Section li {
  	display: inline;
}

.Text_Section a {
  	font-family: 'Russo One', sans-serif;
  	text-decoration: none;
  	color: white;
  	font-size: 20px;
  	padding:0 94px;

}

.Text_Section a:hover {
	color: red;
}

.button {
	background-color: #1A1A1D;
	padding: 10px;
	border-radius: 4px;
	margin-top: 10px;
	width: 200px;
}

.button a{
	font-family: 'Russo One', sans-serif;
  	text-decoration: none;
  	color: #EDB749;
  	font-size: 18px;
}

.button_add {
	background-color: #1A1A1D;
	padding: 10px;
	border-radius: 4px;
	margin-top: 10px;
	width: 160px;
}

.button_add a{
	font-family: 'Russo One', sans-serif;
  	text-decoration: none;
  	color: #EDB749;
  	font-size: 18px;
}

.button_pay {
  background-color: #1A1A1D;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 165px;
}

.button_pay a{
  font-family: 'Russo One', sans-serif;
    text-decoration: none;
    color: #EDB749;
    font-size: 18px;
}

.form_edit {
	font-family: 'Russo One', sans-serif;
    background-color: #1A1A1D;
    color: #EDB749;
    padding: 10px;
    border-radius: 4px;
    width: 500px;
    margin-top: 10px;
}

.form_edit a {
    text-decoration: none;

}

.form_edit form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form_edit input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    width: 480px;

}

.save {
	text-align: center;
}

.form_edit button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.Text_EditUser {
	font-family: 'Russo One', sans-serif;
	font-size: 21px;
}